@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --font: 'Noto Sans', sans-serif;
    --black: #1e1e1e;
    --white: #FFFAFA;
    /*--primary: #004B78;
    --primary-dark: #002C56;
    --primary-light: #006D9C;*/
    --primary: #1A4568;
    --primary-dark: #153855;
    --primary-light: #52728B;
    --danger-light: #EA6570;
    --danger: #e74f5d;
    --danger-dark: #D45863;
    --secondary: #888888;
    --secondary-dark: #6e6e6e;
}

* {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    color: var(--black);
    font-family: var(--font);
    font-size: 14px;
}

a {
    text-decoration: none;
}

    a:hover {
        color: inherit;
    }

.bg-primary-light {
    background-color: var(--primary-light);
}

.btn-primary {
    background-color: var(--primary);
    border: 1px solid var(--primary);
    /* color: var(--black); */
}

    .btn-primary:hover {
        background-color: var(--primary-dark);
        border: 1px solid var(--primary-dark);
    }

.bg-img {
    background-image: url('../../images/bg.png');
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin-bottom: 20px;
}

input[type=text]:focus, input[type=password]:focus, input[type=email]:focus, select, input[type=file]:focus, textarea:focus, input[type=checkbox]:focus, input[type=number]:focus, input[type=submit]:focus, input[type=button]:focus, button:focus {
    outline: none !important;
    box-shadow: none !important;
}

.form-control:focus {
    border: 1px solid #ced4da;
}

.card-body-width {
    width: 110%;
}

.card-body{
    padding: 1rem 1rem;
}

.form-control{
    font-size: 14px !important;
}